.quitBox {
    border: 1px solid black;
    width: 400px;
    height: 700px;
    margin: 100px auto;
    border-radius: 8px;
    background-color: beige;
}

.quitIdBox {
    width: 100%;
    height: 50px;
    margin-top: 150px;
}

.quitIdInput {
    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: 4%;
    font-size: 15px;
}

.quitPwdInput {
    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: 4%;
    font-size: 15px;
}

.quitPwdBox {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.quitOkButton {
    width: 100%;
    height: 50px;
    margin-top: 200px;
}

.quitOkButton button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
    background-color: #61dafb;
    font-weight: bold;
}

.quitCancelButton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.quitCancelButton button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
    font-weight: bold;
}