.heartsListTable {
    width: 100%;
}

.heartsListTable thead {
    width: 100%;
    height: 50px;
    background-color: #bbbbbb;
}

.heartsListTable tr, th, td {
    border: 1px solid black;
}

.heartsListTable tr {
    height: 50px;
    text-align: center;
}

.heartBookImage {
    height: 100px
}

.heartBookImage img {
    height: 100%;
}