.loginBox {
    border: 1px solid black;
    width: 400px;
    height: 700px;
    margin: 100px auto;
    border-radius: 8px;
    background-color: beige;
}

.idBox {
    width: 100%;
    height: 50px;
    margin-top: 150px;
}

.idInput {
    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: 4%;
    font-size: 15px;
}

.pwdInput {
    width: 90%;
    height: 90%;
    text-align: center;
    margin-left: 4%;
    font-size: 15px;
}

.pwdBox {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.okButton {
    width: 100%;
    height: 50px;
    margin-top: 200px;
}

.okButton button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
    background-color: #61dafb;
    font-weight: bold;
}

.cancelButton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.cancelButton button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-left: 5%;
    font-weight: bold;
}

.socialLoginBox {
    /*border: 1px solid black;*/
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
}

.naverLogin, .googleLogin, .kakaoLogin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

/*#naverIdLogin {*/
/*    position: relative;*/
/*    left: 100px;*/
/*}*/

/*#naverIdLogin:hover {*/
/*    cursor: pointer;*/
/*}*/

.naverIdLogin {
    position: relative;
    left: 100px;
}

.naverIdLogin:hover {
    cursor: pointer;
}

.googleLogin {
    position: relative;
    left: 125px;
}

.googleLogin:hover {
    cursor: pointer;
}

.kakaoLogin {
    position: relative;
    left: 150px;
}

.kakaoLogin:hover {
    cursor: pointer;
}
